<section class="border-bottom border-primary">
  <section class="text-start">
    <a href="#">
      <img
        src="../../../assets/Icones/seta-esquerda.png"
        alt="ícone de seta para a esquerda"
      />Voltar</a
    >
  </section>
  <figure class="cabecalho_adicionar_contato">
    <img
      src="../assets/imagens/adicionar-contato.png"
      alt="Ilustração adicionar contato"
    />
    <h2 class="text-primary">Adicionar contato</h2>
  </figure>
</section>

<app-avatar-form></app-avatar-form>
<form class="text-start">
  <div class="mb-3">
    <label for="inputNome" class="form-label fw-bold">Nome</label>
    <input
      type="text"
      placeholder="Digite o nome do contato"
      class="form-control"
      id="inputNome"
      aria-describedby="nomeContato"
    />
  </div>

  <div class="mb-3">
    <label for="inputTelefone" class="form-label fw-bold">Telefone</label>
    <input
      type="tel"
      placeholder="Digite o número do telefone"
      class="form-control"
      id="inputTelefone"
      aria-describedby="telefoneContato"
    />
    <button type="button" class="btn btn-outline-secondary w-100 mt-3">
      Adicionar novo número
    </button>
  </div>

  <div class="mb-3 border-bottom border-secondary">
    <label for="inputEmail" class="form-label fw-bold">E-mail</label>
    <input
      type="email"
      placeholder="Insira o endereço de e-mail do contato"
      class="form-control"
      id="inputEmail"
      aria-describedby="emailContato"
    />
    <button type="button" class="btn btn-outline-secondary w-100 mt-3 mb-4">
      Adicionar novo e-mail
    </button>
  </div>

  <div class="mb-3 position-relative">
    <label for="inputAniversario" class="form-label fw-bold">Aniversário</label>
    <input type="text" placeholder="Data de nascimento" class="form-control" id="inputAniversario" onfocus="(this.type='date')" onblur="if(this.value==''){this.type='text'}">
    <!-- <img src="../../../assets/Icones/icone-calendario.png" alt="ícone de calendário"> -->
  </div>

  <div class="mb-3">
    <label for="inputRedesSociais" class="form-label">Redes sociais</label>
    <div class="input-group">
      <span class="input-group-text" id="basic-addon1">http://</span>
      <input
        type="text"
        placeholder="Adicione a URL da página"
        class="form-control"
        id="inputRedesSociais"
        aria-describedby="RedesSociaisContato"
      />
    </div>
  </div>

  <div class="mb-3">
    <label for="textAreaObservacoes"> Observações</label>
    <textarea
      class="form-control"
      placeholder="Coloque observações nesse espaço.  Exemplo: “Instrutora da academia “Nova Imagem”, amiga da Júlia”."
      id="textAreaObservacoes"
      style="height: 100px"
    ></textarea>
  </div>

  <section class="text-center p-2 row gx-4">
    <div class="col">
      <button type="button" class="btn btn-outline-primary w-100">Cancelar</button>
    </div>
    <div class="col">
      <button type="button" class="btn btn-primary w-100">Salvar contato</button>
    </div>
  </section>

</form>
