<app-banner
  imagem="../assets/imagens/lista-contatos.png"
  textoAlt="Ilustração"
  texto="Organize, conecte, simplifique!"
></app-banner>

<table class="table table-borderless">
  <thead class="border-bottom border-primary">
    <tr class="text-primary fw-bold">
      <th scope="col">Nome</th>
      <th scope="col">Número</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody *ngIf="listaContatos.length > 0; else nenhumContato">
    <tr *ngFor="let contato of listaContatos">
      <td>
        <img
          [src]="contato.foto"
          alt="Foto do contato"
          style="width: 25px; height: 25px; object-fit: cover"
        />
        {{ contato.nome }}
      </td>
      <td>{{ contato.telefone }}</td>
      <td>
        <button class="btn" (click)="editarContato()">
          <img src="../assets/Icones/pencil-square.png" alt="Ícone de edição" />
        </button>
      </td>
      <td>
        <button class="btn" (click)="excluirContato()">
          <img src="../assets/Icones/trash.png" alt="Ícone de lixeira" />
        </button>
      </td>
    </tr>
  </tbody>
  <ng-template #nenhumContato>
    <tbody>
      <tr>
        <td colspan="3">Nenhum contato cadastrado!</td>
      </tr>
    </tbody>
  </ng-template>
</table>
