<div class="container mt-5">
  <form (ngSubmit)="onSubmit()" #avatarForm="ngForm">
    <div class="mb-3">
      <label for="name" class="form-label">Nome:</label>
      <input type="text" class="form-control" id="name" required [(ngModel)]="userData.name" name="name">
    </div>
    <div class="mb-3">
      <label for="avatar" class="form-label">Imagem:</label>
      <input type="file" class="form-control" id="avatar" accept="image/*" (change)="onFileSelected($event)" required>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!avatarForm.valid">Adicionar</button>
  </form>

  <ul class="list-unstyled mt-5">
    <li class="mb-2" *ngFor="let user of users">
      <div class="d-flex align-items-center">
        <img [src]="user.avatar" alt="avatar" class="rounded-circle me-2"
          style="width: 50px; height: 50px; object-fit: cover;">
        <span>{{user.name}}</span>
      </div>
    </li>
  </ul>
</div>
