<div class="position-relative">
  <main>
    <div
      class="card text-center w-50 position-absolute top-50 start-50 translate-middle p-5"
    >
      <div class="card-body">
        <figure class="Logo">
          <img src="../assets/imagens/Logo.png" alt="Logo da Indexa" />
        </figure>
      </div>

      <app-form-contato></app-form-contato>
      <app-lista-contatos></app-lista-contatos>

    </div>
  </main>
  <footer
    class="position-absolute start-50 translate-middle text-primary w-100 text-center"
  >
    <p>2023 © Desenvolvido por Alura | Projeto fictício sem fins comerciais.</p>
  </footer>
</div>
