<section class="border-bottom border-primary mt-5">
  <figure>
    <img
      src="../assets/imagens/lista-contatos.png"
      alt="Ilustração"
    />
    <h2 class="text-primary">Organize, conecte, simplifique!</h2>
  </figure>
</section>

<table class="table table-borderless">
  <thead class="border-bottom border-primary">
    <tr class="text-primary fw-bold">
      <th scope="col">Nome</th>
      <th scope="col">Número</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <img src="../assets/Avatares/Aldo.png" alt="Foto do contato" />
        Aldo Cruz
      </td>
      <td>83 995643270</td>
      <td>
        <img
          src="../assets/Icones/pencil-square.png"
          alt="Ícone de edição"
        />
      </td>
      <td>
        <img src="../assets/Icones/trash.png" alt="Ícone de lixeira" />
      </td>
    </tr>
  </tbody>
</table>
