<app-banner
  imagem="../assets/imagens/adicionar-contato.png"
  textoAlt="Ilustração adicionar contato"
  texto="Adicionar contato"
></app-banner>

<form class="text-start" #formulario="ngForm" (ngSubmit)="onSubmit(formulario)" novalidate>
  <div
    class="mb-5 mt-5 text-center w-100 position-relative h-100 d-inline-block"
  >
    <div
      class="text-center border dotted-border p-3 position-absolute top-100 start-50 translate-middle mt-4"
    >

      <label for="foto" class="form-label" *ngIf="contato.foto == '', else fotoContato">
        + <br />
        Adicione a <br />
        imagem do <br />
        contato
      </label>
      <ng-template #fotoContato>
        <label for="foto" class="form-label">
           <img [src]="contato.foto" alt="imagem selecionada do contato" style="width: 100px; height: 100px; object-fit: cover;">
        </label>
      </ng-template>
      <input
        type="file"
        class="form-control"
        id="foto"
        accept="image/*"
        (change)="onFileSelected($event)"
        required
        hidden
      />
    </div>
  </div>

  <div class="mb-3 mt-5">
    <label for="inputNome" class="form-label fw-bold">Nome</label>
    <input
      type="text"
      placeholder="Digite o nome do contato"
      class="form-control"
      id="inputNome"
      name="nome"
      aria-describedby="nomeContato"
      [(ngModel)]="contato.nome"
      required
      minlength="3"
    />
    <span class="text-danger fs-6 fw-lighter" *ngIf="formulario.controls['nome']?.errors?.['required'] && formulario.controls['nome'].touched">O campo de nome precisa ser preenchido</span>
    <span class="text-danger fs-6 fw-lighter" *ngIf="formulario.controls['nome']?.errors?.['minlength'] && formulario.controls['nome'].touched">O nome deve ter pelo menos 3 caracteres</span>
  </div>

  <div class="mb-3">
    <label for="inputTelefone" class="form-label fw-bold">Telefone</label>
    <input
      type="tel"
      placeholder="Digite o número do telefone"
      class="form-control"
      id="inputTelefone"
      name="telefone"
      aria-describedby="telefoneContato"
      [(ngModel)]="contato.telefone"
      required
      pattern="(\(?\d{2}\)?\s?)(\d{5}\-?\d{4})"
    />
    <span class="text-danger fs-6 fw-lighter" *ngIf="formulario.controls['telefone']?.errors?.['required'] && formulario.controls['telefone'].touched">O campo de telefone precisa ser preenchido</span>
    <span  class="text-danger fs-6 fw-lighter" *ngIf="formulario.controls['telefone']?.errors?.['pattern'] && formulario.controls['telefone'].touched">Insira um telefone válido</span>
    <button type="button" class="btn btn-outline-secondary w-100 mt-3">
      Adicionar novo número
    </button>
  </div>

  <div class="mb-3 border-bottom border-secondary">
    <label for="inputEmail" class="form-label fw-bold">E-mail</label>
    <input
      type="email"
      placeholder="Insira o endereço de e-mail do contato"
      class="form-control"
      id="inputEmail"
      name="email"
      aria-describedby="emailContato"
      [(ngModel)]="contato.email"
      email
    />
    <!-- pensei em ciar uma diretiva de validação pra impedir data > que o dia atual, mas fiquei com receio de deixar o conteúdo muito complexo pra esse momento-->
    <button type="button" class="btn btn-outline-secondary w-100 mt-3 mb-4">
      Adicionar novo e-mail
    </button>
  </div>

  <div class="mb-3 position-relative w-75">
    <label for="inputAniversario" class="form-label fw-bold">Aniversário</label>
    <input
      type="text"
      placeholder="Data de nascimento"
      class="form-control"
      id="inputAniversario"
      name="aniversario"
      [(ngModel)]="contato.aniversario"
      onfocus="(this.type='date')"
      onblur="if(this.value==''){this.type='text'}"
    />
    <span class="text-danger fs-6 fw-lighter" *ngIf="formulario.controls['aniversario']?.errors?.['required'] && formulario.controls['aniversario'].touched">Insira uma data válida</span>
    <!-- <img src="../../../assets/Icones/icone-calendario.png" alt="ícone de calendário"> -->
  </div>

  <div class="mb-3">
    <label for="inputRedesSociais" class="form-label">Redes sociais</label>
    <div class="input-group">
      <span class="input-group-text" id="basic-addon1">http://</span>
      <input
        type="text"
        placeholder="Adicione a URL da página"
        class="form-control"
        id="inputRedesSociais"
        name="redesSociais"
        aria-describedby="RedesSociaisContato"
        [(ngModel)]="contato.redesSociais"
      />
    </div>
  </div>

  <div class="mb-3">
    <label for="textAreaObservacoes"> Observações</label>
    <textarea
      class="form-control"
      placeholder="Coloque observações nesse espaço.  Exemplo: “Instrutora da academia “Nova Imagem”, amiga da Júlia”."
      id="textAreaObservacoes"
      name="obs"
      style="height: 100px"
      [(ngModel)]="contato.obs"
    ></textarea>
  </div>

  <section class="text-center p-2 row gx-4">
    <div class="col">
      <button
        (click)="cancelar()"
        type="button"
        class="btn btn-outline-primary w-100"
      >
        Cancelar
      </button>
    </div>
    <div class="col">
      <button type="submit" class="btn btn-primary w-100" [disabled]="!formulario.valid">
        Salvar contato
      </button>
    </div>
  </section>
</form>


<app-listar-contatos [listaContatos]="listaContatos"></app-listar-contatos>

